* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Inter", serif;
    font-size: 16px;
    font-weight: 400;
    color: #333333;
}

a {
    color: inherit;
}

.btn {
    font-size: inherit;
    font-weight: 700;
    padding: 11px 32px;
    border-width: 2px;
    border-radius: 4px;
    box-shadow: none !important;
}

.btn-outline-primary {
    background-color: #ffffff !important;
    color: #6d4117 !important;
    border-color: #6d4117 !important;
}

.btn-outline-primary:hover {
    background-color: #6d4117 !important;
    color: #ffffff !important;
    border-color: #6d4117 !important;
}

.btn-primary {
    background-color: #6d4117 !important;
    color: #ffffff !important;
    border-color: #6d4117 !important;
}

.btn-primary:hover {
    background-color: #ffffff !important;
    color: #6d4117 !important;
    border-color: #6d4117 !important;
}

.form-control,
.form-select {
    font-size: 14px;
    font-weight: inherit;
    letter-spacing: 0.02em;
    color: #181818;
    padding: 13px 12px;
    box-shadow: none !important;
    border-color: #333333;
    border-radius: 4px;
    text-overflow: ellipsis;
}

.form-control:focus,
.form-select:focus {
    border-color: #6d4117;
}

.form-control::placeholder {
    color: #4f4f4f;
}

.form-select {
    padding-right: 30px;
    background-position: right 12px center;
}

[class*="input-icon"] {
    padding-left: 42px;
    background-size: 20px;
    background-position: 12px center;
    background-repeat: no-repeat;
}

.input-icon-map-pin-line {
    background-image: url("../images/icons/map-pin-line.svg");
}

.section-padding {
    padding-block: 50px;
}

.section-heading {
    font-size: 28px;
    font-weight: 700;
    color: #181818;
    line-height: 140%;
    margin-bottom: 16px;
}

.section-desc {
    font-size: inherit;
    font-weight: inherit;
    letter-spacing: 0.02em;
    color: #181818;
    margin-bottom: 0;
}

.section-header {
    display: flex;
    align-items: start;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 30px;
    margin-bottom: 30px;
}

.badge {
    padding: 5px;
    border-radius: 4px;
    font-size: 12px;
    font-weight: inherit;
    line-height: 150%;
}

.text-bg-danger {
    background-color: #fff8eb !important;
    color: #6d4117 !important;
}

.text-bg-success {
    background-color: #f9fff5 !important;
    color: #18720e !important;
}

.text-bg-info {
    background-color: #f5f8ff !important;
    color: #2f54eb !important;
}

.page-heading-section {
    padding-block: 20px;
    min-height: 250px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    background-image: url("../images/hero-bg.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 10px;
    overflow: hidden;
    position: relative;
    z-index: 0;
}

.page-heading-section::after {
    content: "";
    position: absolute;
    inset: 0;
    background-color: #181818;
    opacity: 0.4;
    z-index: -1;
}

.page-heading {
    font-size: 38px;
    font-weight: 600;
    text-align: center;
    color: #ffffff;
}

.page-heading-section .breadcrumb {
    justify-content: center;
    margin-bottom: 0;
}

.breadcrumb-item {
    color: #ffffff;
    font-size: inherit;
    font-weight: inherit;
}

.breadcrumb-item.active,
.breadcrumb-item + .breadcrumb-item::before {
    color: #ffffff99;
}

.breadcrumb-item a {
    color: #ffffff;
    text-decoration: none;
    transition: color 0.2s;
}

.breadcrumb-item a:hover {
    color: #e8dcc6;
}

/* Pagination */
.pagination {
    justify-content: center;
    gap: 4px;
}

.page-item.active .page-link {
    background-color: #6d4117;
}

.page-item.active .page-link:hover,
.page-item.active .page-link:focus {
    color: #ffffff;
}

.page-link:hover,
.page-link:focus {
    color: inherit;
    background-color: #f9f1e3;
}

.page-link {
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 40px;
    min-width: 40px;
    border: none;
    border-radius: 4px;
    color: inherit;
    box-shadow: none !important;
}

/* Modal CSS */
.modal-header {
    border: none;
    padding-bottom: 0;
}

.modal-title {
    font-size: 18px !important;
    color: #181818;
}
