@media (max-width: 1399.98px) {
    .container,
    .container-lg,
    .container-md,
    .container-sm,
    .container-xl,
    .container-xxl {
        max-width: 94%;
    }
}

@media (max-width: 1199.98px) {
    body {
        font-size: 15px;
    }

    .btn {
        border-width: 2px;
        font-weight: 600;
        padding: 11px 26px;
    }

    .section-padding {
        padding-block: 40px;
    }

    .section-heading {
        font-size: 24px;
    }

    .navbar {
        padding-block: 22px;
    }

    .navbar-nav {
        gap: 22px;
    }

    .navbar-brand > img {
        max-width: 195px;
    }

    .hero-section {
        height: calc(100vh - 100px);
    }

    .hero-content h1 {
        font-size: 26px;
    }

    .hero-content p {
        font-size: 16px;
    }

    .hero-content h1,
    .hero-content p {
        max-width: 580px;
    }

    .page-heading-section {
        min-height: 230px;
    }

    .page-heading {
        font-size: 34px;
    }
}

@media (max-width: 991.98px) {
    body {
        font-size: 14px;
    }

    .section-padding {
        padding-block: 36px;
    }

    .offcanvas-body {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 22px;
    }

    .hero-content {
        padding-bottom: 80px;
    }

    .search-box {
        margin-top: calc(-129px / 2);
    }

    .search-box form {
        grid-template-columns: 1fr minmax(max-content, 1fr) max-content;
    }

    .search-box form .form-control {
        grid-column: 1 / 4;
    }

    .services-img img {
        position: initial;
    }

    .properties-listing-section .search-box {
        margin-top: 0;
    }
}

@media (max-width: 767.98px) {
    .search-box form {
        grid-template-columns: 1fr minmax(max-content, 1fr);
    }

    .search-box form .form-control {
        grid-column: 1 / 3;
    }

    .search-box form > .btn {
        grid-column: 1 / 3;
    }

    .navbar-brand > img {
        max-width: 185px;
    }

    .hero-content p {
        font-size: inherit;
    }

    .contact-map {
        position: initial;
        width: 100%;
        min-height: 300px;
    }
}

@media (max-width: 575.98px) {
    .container,
    .container-lg,
    .container-md,
    .container-sm,
    .container-xl,
    .container-xxl {
        max-width: 100%;
    }

    .section-padding {
        padding-block: 26px;
    }

    .section-heading {
        font-size: 20px;
    }

    .navbar {
        padding-block: 18px;
    }

    .navbar-brand > img {
        max-width: 155px;
    }

    .hero-content {
        padding: 50px 24px 80px;
    }

    .hero-content h1 {
        font-size: 18px;
    }

    .hero-content::after {
        opacity: 0.5;
    }

    .search-box {
        width: calc(100% - 24px);
    }

    .search-box form {
        grid-template-columns: 1fr;
        gap: 8px;
    }

    .search-box form .form-control {
        grid-column: 1 / 2;
    }

    .search-box form > .btn {
        grid-column: 1 / 2;
    }

    .property-type-card h4 {
        font-size: 18px;
    }

    .property-type-icon {
        width: 50px;
    }

    .services-info-lists {
        padding: 32px 24px;
    }

    .services-info-lists li {
        flex-wrap: wrap;
        gap: 14px;
    }

    .services-info-lists li h4 {
        font-size: 18px;
    }

    .services-info-lists li h5 {
        font-size: 15px;
    }

    .services-info-lists li h5 span {
        font-size: 13px;
    }

    .connect-content {
        padding: 30px 24px;
    }

    .footer > .container:first-child {
        padding-block: 40px 60px;
    }

    .footer-bottom > .container {
        justify-content: center;
    }
}
